h1 {
  font-family: Baskerville, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0.025em;
  word-spacing: 0.5em;
  line-height: 2em; }

h2 { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0.025em;
  word-spacing: 0.5em;
  line-height: 1.5em; }


h3 { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0.025em;
  word-spacing: 0.5em;
  line-height: 1.0em; }


p { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.0em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    word-spacing: 0.3em;
    text-align: justify;
    text-justify: inter-word;}


blockquote { font-family: Baskerville, "Baskerville Old Face", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 2em;
    quotes: '“' '”';}
blockquote:before {content :open-quote; font-size: 2em;}
blockquote:after {content :close-quote; font-size: 2em;}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  width: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: #eee;
  width: 95%;
  max-height: 30em;
}

ul {}

ol {
  display: block;
  list-style-type:  lower-roman;
  padding-left: 4em;
  margin: 2em;
}

ul {
  display: block;
  list-style-type:  none;
  padding-left: 2em;
  margin: 2em;
}


li {
  font-family: Palatino, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.0em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 3em;
}

ul > li:nth-of-type(5n+1) {
  background: transparent url('yellow_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+2) {
  background: transparent url('red_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+3) {
  background: transparent url('green_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+4) {
  background: transparent url('blue_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+5) {
  background: transparent url('orange_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}



table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  height: auto;
  padding-left: 10px;
  margin: 20px;
  margin-left:auto;
  margin-right:auto;
}

th  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 20px;
  border: 1px solid black;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  background-color:#eee;
  color:black;

}

td  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 20px;
  border: 1px solid black;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
}

div {
  padding:20px;
}



svg { max-height: 600px;}
div.mid { width: 60%; margin: auto; }
