{% extends "html_base.jinja2" %}
{% block meta %}{% include "meta.jinja2"%}{% endblock %}
{% block style %} 
<style> 

svg { max-height: 600px;} 
div.mid { width: 60%;
          margin: auto; }

</style> {%endblock%}
{% block script %}
<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

navigator.geolocation.getCurrentPosition(success, error, options);
</script>
{%endblock%}
{%block body%} {{content}} {%endblock body%}
