<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{language_code}}" lang="{{language_code}}">
  <head>
	   {% block meta %} {% endblock %}
     <title>{{title}}</title>
	{% block style %} {% endblock %}
  </head>

  <body>
    {% block body %} {% endblock %}
  </body>
</html>
