{% extends "html_base.jinja2" %}
{% block meta %}{% include "meta.jinja2"%}{% endblock %}
{% block style %} <style> svg { max-height: 600px;} </style> {%endblock%}
{%block body%} {{content}} {%endblock body%}
